.services_page{
text-align: center;
margin-top: 150px; 
}
.service-image-container {
    height: 100vh; /* Adjust height as needed */
    /* overflow: hidden; */
  }
  
  .service-image-container img {
    width: 100%;
    height: 400px;
  }
  
  .service-details {
    padding: 20px;
  }
  