.services_page{
text-align: center;
margin-top: 150px; 
height: 10vh;
}
  .page_left{
    float: left;
    width: 70%;
  }
  .page_right{
    float: right;
    margin-top:10px;
    margin-right: 60px;
    margin-left: 0px;
    width: 20%;
  }
.dropdown_content{
    display: block;
  text-align: left;
  padding: 12px 16px;
  min-width: 160px;
}

/*  */

.service_details {
  display: flex;
  margin-top: 0;
    /* background-color: #f8f9fa;  */
    border-radius: 10px; /* Add border radius */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    top:0;
    margin-right: 0;
    padding-right: 0;
    margin:0;
    padding:0
}

.service_details p {
    font-size: 16px;
    color: #333; /* Add text color */
    text-align: justify;
    padding-left: 20px;
}

.service_details img {
    width: 100%; /* Ensure image fills the container */
    height: 40vh; /* Maintain aspect ratio */
    border-radius: 10px; /* Add border radius */
    margin-bottom: 20px; /* Add spacing between image and text */
    display: block; /* Ensure the image is displayed as a block element */
}


.dropdown_content li {
    background-color: #f8f9fa; /* Light background color */
    padding: 12px 16px;
    list-style: none; /* Remove default list styles */
    transition: background-color 0.3s ease; /* Add transition effect */
    position: relative; /* Relative positioning for pseudo-element */
}

.dropdown_content li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px; /* Width of the border */
    height: 100%; /* Height of the list item */
    background-color: #f7b06e; /* Yellow shade */
}

.dropdown_content li:hover {
    /* background-color: #e9ecef;  */
    cursor: pointer; /* Change cursor on hover */
}

.service-image-container {
    height: 50vh; /* Set a fixed height */
    overflow: hidden; /* Hide any overflow */
}

.service-image-container img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container without stretching */
    border-radius: 10px; /* Add border radius */
    display: block; /* Ensure the image is displayed as a block element */
}
.service_heading{
    color:#084F91;
}

.dropdown_content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.dropdown_content a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 7px 7px;
  /* border-radius: 4px; */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown_content a:hover {
  background-color: #084F91;
  color: #fff;
}

.dropdown_content a:active {
  background-color: #084F91;
  color: #fff;
}