.what-we-do{
margin-top: 140px;
}

.service {
    background-color: #f8f9fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: scroll; 
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.we-do-header{
text-align: center;
justify-content: center;
display: block;
}
.service h2 {
    color: #084F91;
    margin-bottom: 10px;
}

.service p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

@media (min-width: 768px) {
    .service {
        width: calc(50% - 20px);
    }
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}
.services{
    height: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}
@media (max-width: 768px) {
    .services-container {
        flex-direction: column; /* Stacks services vertically on smaller screens */
        align-items: stretch; /* Makes sure items take full width */
        gap: 15px; /* Reduces gap for better spacing */
    }
    .service{
        height: 70vh;
    }
    .we-do-header{
        padding-top: 10px;
    }
}